{% extends "base_information.html" %}
{% load static %}

{% block title %}About Page{% endblock %}

{% block section-title %}About Page{% endblock %}

{% block section-content %}
    <!-- Development / Basic Info -->
    <div class="card border-0 " style="background: #f2f6fc">
        <div class="card-body p-3 ">
            <h3>Development</h3>
            <ul>
                <li class="lead"><span style="font-weight:bold"> DIGGER </span> was jointly developed by the groups
                    <a href="https://www.mls.ls.tum.de/daisybio/startseite/" target="_blank">Data Science in Systems Biology</a> and
                    <a href="https://www.cosy.bio/" target="_blank">Computational Systems Biology</a>
                </li>
                <li class="lead"><span style="font-weight:bold"> Maintainer:</span> <a href="https://github.com/Eeeeelias/"
                                                                                       target="_blank">Elias Albrecht
                </a>  </h5 class> </li>
                <li class="lead"><span style="font-weight:bold"> First released by: </span><a
                        href="https://github.com/louadi/" target="_blank" >Zakaria Louadi</a></li>
            </ul>
        </div>
    </div>

    <!-- Cite -->
    <div class="card border-0 " style="background: #f2f6fc">
        <div class="card-body">
            <h3>Citation</h3>
            <h5 style="font-weight:bold"> If you use DIGGER, please cite:</h5>


            <div class="alert alert-secondary">
                    <p class="lead">
                            Zakaria Louadi, Kevin Yuan, Alexander Gress, Olga Tsoy, Olga V Kalinina, Jan Baumbach, Tim Kacprowski*, Markus List*.
                            <a href="https://doi.org/10.1093/nar/gkaa768" target="_blank">DIGGER: exploring the functional role of alternative splicing in protein interactions</a>, Nucleic Acids Research.
                            <br>* Joint last authors.</p>
            </div>

        </div>
    </div>

    <!-- Acknowledgements -->
    <div class="card border-0 " style="background: #f2f6fc" >
        <div class="card-body">
            <h3>Acknowledgements</h3>
            <ul>
                <li class="lead"> DIGGER was created with funding from <a
                        href="https://www.sys-med.de/en/alliances/sys-care/" target="_blank"> BMBF Sys_CARE project</a>
                </li>

                <li class="lead"> Source code is available on <a href="https://github.com/daisybio/DIGGER"
                                                                 target="_blank">GitHub</a></li>

                <li class="lead"> Data sources used in DIGGER:
                    <a href="https://thebiogrid.org/" target="_blank"> BioGRID-3.5</a>,
                    <a href="https://3did.irbbarcelona.org//" target="_blank"> 3did-2019</a>,
                    <a href="https://manticore.niehs.nih.gov/cgi-bin/Domine" target="_blank"> DOMINE-2.0</a>,
                    <a href="https://www.ensembl.org/biomart/martview" target="_blank"> BioMart</a>,
                    <a href="https://www.ebi.ac.uk/interpro/entry/pfam/" target="_blank"> Pfam</a>,
                    <a href="https://www.rcsb.org/" target="_blank"> Protein Data Bank</a>

                <li class="lead"> We built DIGGER using:
                    <a href="https://ppidm.loria.fr/" target="_blank">PPIDM</a>
                    <a href="https://www.djangoproject.com/" target="_blank">Django</a>,
                    <a href="https://networkx.github.io/" target="_blank">NetworkX</a>,
                    <a href="https://visjs.org/" target="_blank">Vis.js</a>,
                    <a href="https://github.com/Edinburgh-Genome-Foundry/DnaFeaturesViewer" target="_blank">DNA Features
                        Viewer</a>,
                    <a href="https://github.com/corejavascript/typeahead.js" target="_blank">typeahead.js</a>,
                    <a href="https://www.datatables.net/" target="_blank">DataTables.js</a>


                </li>
            </ul>

        </div>
    </div>


    <!-- Contact us -->
    <div class="card border-0 ">
      <div class="card-body" style="background: #f2f6fc">
        <h3>Contact us</h3>
        <h5>
          <p><b>Elias Albrecht</b></br>
          elias.albrecht@in.tum.de
          </p>
          <p><b>Olga Tsoy</b></br>
              olga.tsoy@uni-hamburg.de</p>
          <p><b>Markus List</b></br>
              markus.list@tum.de</p>
        </h5>
      </div>
    </div>
{% endblock %}
