# If the default credentials are to be used ('postgres' for everything) comment the variables out 
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=

# IMPORTANT: Set this to the URL you want to use for the application, otherwise your reference links will be broken
BASE_URL=http://localhost:8080

# Optional, if the application should be published on the root path leave empty
NGINX_PUBLISHED_PATH=
DEBUG=
