mygene==3.1.0
django_pandas==0.6.1
Django==4.2.16
networkx==2.4
SQLAlchemy==1.3.16
numpy==1.22.0
pandas==1.0.3
matplotlib==3.0.3
dna_features_viewer==3.0
requests==2.31.0
psycopg2==2.8.5
gunicorn==20.0.4

tqdm~=4.46.0