
{% extends "domain/base.html" %}
{% load static %}

{%block content %}
  <style type="text/css">
    #mynetwork {
      width: 800px;
      height: 540px;
      border: 2px solid lightgray;
    }
  </style>


<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">DomainGraph</h1>
      <p class="lead"> Here you can visualize the domain interactions with other domains..</p>
        <div id="mynetwork"></div>
          <script type="text/javascript">
               // create an array with nodes
                var nodes = new vis.DataSet([
                          
                              {id: "476/PF00122", label:  "476-PF00122"},
                              {id: "490/PF00689", label:  "490-PF00689"},
                              {id: "490/PF00122", label:  "490-PF00122"},
                              {id: "495/PF00690", label:  "495-PF00690"},
                              {id: "490/PF13246", label:  "490-PF13246"},
                              {id: "476/PF00690", label:  "476-PF00690"},
                              {id: "493/PF00702", label:  "493-PF00702"},
                              {id: "495/PF00122", label:  "495-PF00122"},
                              {id: "493/PF13246", label:  "493-PF13246"},
                              {id: "495/PF00689", label:  "495-PF00689"},
                              {id: "495/PF13246", label:  "495-PF13246"},
                              {id: "476/PF13246", label:  "476-PF13246"},
                              {id: "493/PF00689", label:  "493-PF00689"},
                              {id: "493/PF00122", label:  "493-PF00122"},
                              {id: "490/PF00702", label:  "490-PF00702"},
                              {id: "490/PF00690", label:  "490-PF00690"},
                              {id: "476/PF00689", label:  "476-PF00689"},
                              {id: "493/PF00690", label:  "493-PF00690"},
                       ]);
              // create an array with edges
              var edges = new vis.DataSet([
                        {from: "476/PF00122", to: "490/PF00689"},
                        {from: "476/PF00122", to: "476/PF00122"},
                        {from: "476/PF00122", to: "495/PF00690"},
                        {from: "476/PF00122", to: "490/PF13246"},
                        {from: "476/PF00122", to: "495/PF00689"},
                        {from: "476/PF00122", to: "493/PF00702"},
                        {from: "476/PF00122", to: "476/PF00689"},
                        {from: "476/PF00122", to: "493/PF13246"},
                        {from: "476/PF00122", to: "490/PF00122"},
                        {from: "476/PF00122", to: "476/PF13246"},
                        {from: "476/PF00122", to: "495/PF13246"},
                        {from: "476/PF00122", to: "493/PF00689"},
                        {from: "476/PF00122", to: "476/PF00690"},
                        {from: "476/PF00122", to: "493/PF00122"},
                        {from: "476/PF00122", to: "490/PF00702"},
                        {from: "476/PF00122", to: "490/PF00690"},
                        {from: "476/PF00122", to: "495/PF00122"},
                        {from: "476/PF00122", to: "493/PF00690"},
                        {from: "490/PF00689", to: "476/PF00689"},
                        {from: "490/PF00122", to: "476/PF00690"},
                        {from: "490/PF00122", to: "476/PF00689"},
                        {from: "490/PF00122", to: "476/PF13246"},
                        {from: "495/PF00690", to: "495/PF00122"},
                        {from: "476/PF00690", to: "493/PF00122"},
                        {from: "476/PF00690", to: "493/PF00702"},
                        {from: "476/PF00690", to: "490/PF00702"},
                        {from: "476/PF00690", to: "495/PF00122"},
                        {from: "495/PF00122", to: "495/PF13246"},
                        {from: "495/PF00122", to: "495/PF00689"},
                        {from: "495/PF00122", to: "476/PF00689"},
                        {from: "495/PF00122", to: "495/PF00122"},
                        {from: "495/PF00122", to: "476/PF13246"},
                        {from: "495/PF00689", to: "476/PF00689"},
                        {from: "495/PF00689", to: "495/PF00689"},
                        {from: "476/PF13246", to: "493/PF00122"},
                        {from: "493/PF00689", to: "476/PF00689"},
                        {from: "493/PF00122", to: "476/PF00689"},
                        {from: "476/PF00689", to: "476/PF00689"},
                ]);
            // create a network
            var container = document.getElementById('mynetwork');
            var data = {
              nodes: nodes,
              edges: edges
            };
            
            var options = {};
            var network = new vis.Network(container, data, options);
          </script>
      <div style="height: 700px"></div>
      <p class="lead mb-0">You've reached the end!</p>
    </div>
  </div>
</div>













{% endblock content %}

