{% extends "domain/base.html" %}
{% load static %}

{%block content %}

          <style type="text/css">


    .tab2 { margin-left: 10px; }
    .tab { margin-left: 30px; }
    
.button {
  background-color: #136BB6; /* Not Green  anymore*/
  border: none;
  color: white;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 22px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



.button2:hover {
  box-shadow: 0 12px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
    
  </style>
  
  
<title>  DIGGER | About Page </title>
<div class="container">
  <div class="card border-0 shadow my-5">
   

<p>&nbsp;</p>


<center>

<img src="{%static 'image/logo_s.svg'%}"alt="" width="800" height="200" >
</center>
 <br />


 <br /> <br />

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-3">
    
    
      <h2 class="font-weight-light"><span style="font-weight:bold">  About DIGGER </span> </h2>
 
       <br>
      <li h5 class="lead">  <span style="font-weight:bold"> DIGGER </span> was jointly developed by the groups  <a href="https://biomedical-big-data.de/"target="_blank">Big Data in Biomedicine</a> and
       <a href="https://compsysmed.de/"target="_blank">Computational Systems Medicine</a>.  </h5 class> </li>
       
       
        <li h5 class="lead"> <span style="font-weight:bold"> Maintainer:</span> &nbsp; Zakaria Louadi </h5 class> </li>
        <li h5 class="lead"> <span style="font-weight:bold"> With contributions from:  </span> &nbsp;  Kevin Yuan  </h5 class> </li>
          <br> <br />
         <li h5 class="lead"> <span style="font-weight:bold"> How to cite DIGGER:  </span> &nbsp;   </h5 class> </li><br>
           <br>  <br>
        <li h5 class="lead"> DIGGER  was created with funding from  <a href="https://www.sys-med.de/en/alliances/sys-care//"target="_blank">  BMBF Sys_CARE project  </a>  </h5 class> </li>
         <li h5 class="lead"> Source code  is available on  <a href="https://github.com/louadi/DIGGER/"target="_blank">Github</a>  </h5 class> </li>
         
         <li h5 class="lead">  Data sources used in DIGEGR:&nbsp;
         <a href="https://thebiogrid.org/"target="_blank"> BioGRID-3.5</a>,
         <a href="https://3did.irbbarcelona.org//"target="_blank"> 3did-2019</a>,
         <a href="https://manticore.niehs.nih.gov/cgi-bin/Domine"target="_blank"> DOMINE-2.0</a>,
         <a href="https://www.ensembl.org/biomart/martview"target="_blank"> BioMart</a>,
         <a href="https://pfam.xfam.org/"target="_blank"> Pfam</a>,
         <a href="https://www.rcsb.org/"target="_blank"> Protein Data Bank</a>.
         
         
         <li h5 class="lead">  We build DIGGER using:  &nbsp;
         
          <a href="https://www.djangoproject.com/"target="_blank">Django</a>,
          <a href="https://networkx.github.io/"target="_blank">NetworkX</a>,
          <a href="https://visjs.org/"target="_blank">Vis.js</a>, 
         <a href="https://github.com/Edinburgh-Genome-Foundry/DnaFeaturesViewer"target="_blank">DNA Features Viewer</a>.
         
         
         
         
         </h5 class> </li>
         <br><br>   <br><br>
         
         
         <h2 class="font-weight-light"> <span style="font-weight:bold">Contact us</span>  </h2>
         <div> <h5 class>


	<p><b>Zakaria louadi</b></br>
           louadi@wzw.tum.de</p>
     

      
	<p><b>Markus List</b></br>
           markus.list@wzw.tum.de</p>
     

        
	<p><b>Tim Kacprowski</b></br>
             tim.kacprowski@wzw.tum.de</p>
        
</h5 class>
  </div>
                    
         </div>
         
</div>





{% endblock content %}
