{% extends "domain/base.html" %}
{% load static %}

{%block content %}

          <style type="text/css">


    .tab2 { margin-left: 10px; }
    .tab { margin-left: 30px; }
    
.button {
  background-color: #136BB6; /* Not Green  anymore*/
  border: none;
  color: white;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 22px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



.button2:hover {
  box-shadow: 0 12px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
    
  </style>
  
  
<title>  DIGGER   </title>
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light"> </h1>
      
      <h4 class="font-weight-light">&nbsp;</h4>
<p>&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://sciplexity.files.wordpress.com/2013/02/sysbio.jpg?w=720&amp;h=580" alt="" width="500" height="386" /></p>
<p>&nbsp;</p> <br />
<h1 style="text-align: center;">DIGGER</h1>
 <br />
<h5 style="text-align: justify;">By mapping the domain-domain Interactions to the protein-protein interactions, <span style="font-weight:bold"> DIGGER </span> can provide a visualization of the interacted regions between the proteins.
        In addition, the tool can analyse  the effect of the splicing variations in the Interactome, starting from a single alternative splicing  event to a set of  protein variants.</h5>


 <br /><br/>



<center>

<h5 style="text-align: justify;"><span style="font-weight:bold"> Contact:</span> <br />
zakaria.louadi@wzw.tum.de<br />
markus.list@wzw.tum.de<br />
tim.kacprowski@wzw.tum.de</h5> <br />

</center>



{% endblock content %}
