{% extends "domain/base.html" %}
{% load static %}

{%block content %}

        
         <style type="text/css">
    #mynetwork {
      width: 1050px;
      height: 800px;
      border: 2px solid lightgray;
    }
  </style>

  	<title>  DIGGER | DomainView for the domain {{ domain|safe }} from the gene  {{ gene|safe }}   </title>
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">DomainView </h1>
       <br />
        <h5 class="lead">   <span style="font-weight:bold">Domain ID </span>:   {{ domain|safe }}     </h5 class>
        <h5 class="lead">   <span style="font-weight:bold">Source Gene </span>:   {{ gene|safe }}    </h5 class>
    <h5 class="lead">   <span style="font-weight:bold">Link to other Databases </span>:   <a href="http://pfam.xfam.org/family/{{ domain|safe }}"target="_blank">Pfam  </a>   &nbsp;	
                     <a href="https://3did.irbbarcelona.org/dispatch.php?type=domain&value={{ domain|safe }}"target="_blank">3did  </a>      </h5 class>
    

       <br />
    
      <h5 class="tab1">   Visualization of the interaction of <span style="font-weight:bold"> {{ domain|safe }}</span> from the gene  <span style="font-weight:bold"> {{ gene|safe }}</span>. In this view, each domain is shown only once  (triangles), and all proteins containing the domain are linked to this domain node (circular). </h5 class>
       <br />
        <div id="mynetwork"></div>
          <script type="text/javascript">
                  var L1 = 300,
                  L2 = 30,
                  PR_DM= 400,
                  LENGTH_SUB = 50,
                  WIDTH_SCALE = 2,
                  GREEN = "green",
                  RED = "#C5000B",
                  //ORANGE = "orange",
                  YELLOW= "orange",
                  WHITE = "EED5EB"
                  //GRAY = '#666666',
                  GRAY = "gray",
                  BLACK = "#2B1B17";
          
          
               // create an array with nodes
                var nodes = new vis.DataSet([
                
                {% for node in nodes %}
                    {{ node|safe }}
                {% endfor %}
                
    ]);
              // create an array with edges
              var edges = new vis.DataSet([

                {% for edge in edges %}
                    {{ edge|safe }}
                {% endfor %}
                ]);
            // create a network
            var container = document.getElementById('mynetwork');
            var data = {
              nodes: nodes,
              edges: edges
            };
            
            
            
            
            
            
  var options = {

    physics: {
                    barnesHut: { gravitationalConstant: -10000 },
                    stabilization: { iterations: 15 },
                      avoidOverlap: 0.7
                  },
    
    
    
                nodes: {
                  scaling: {
                    min: 16,
                    max: 32
                  }
                },
                edges: {
                  color: WHITE,
                  smooth: false,

                },

 
                groups: {
                  protein: {
                    shape: "dot",
                    color: GRAY, // orange
                   font:
                  {
                  size: 18, // px
                  }
                  },
                  
                  
                  Domain: {
                    shape: "triangle",
                    color: "#2B7CE9" // blue
                  },
                  
                  

                  MDomain: {
                    shape: "triangle",
                    color: "#109618" // green
                  }
                }
              };
                
            var network = new vis.Network(container, data, options);
            
          </script>
          
   











{% endblock content %}

