{% extends "domain/base.html" %}
{% load static %}

{%block content %}

          <style type="text/css">


    .tab2 { margin-left: 10px; }
    .tab { margin-left: 30px; }
    
.button {
  background-color: #136BB6; /* Not Green  anymore*/
  border: none;
  color: white;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 22px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

img.resize {
  max-width:80%;
  max-height:80%;
}

.button2:hover {
  box-shadow: 0 12px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.resize2 {
  max-width:70%;
  max-height:70%;
}
     </style>


<title>  DIGGER | documentation Page </title>

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-3">
  

 <br /> 
<center>

<img class="resize2" src="{%static 'image/DIGGER.png'%}">

</center>


 <br /> <br /> <br /><br /> 
    
<h3><span style="background-color: black; color: #ffffff; padding: 0 3px;">DIGGER</span> Documentation & Help </h3>

  
         <h4><p><strong>How does DIGGER work?</strong></h4>  


            <center>
            
                <img class="resize" src="{% static 'image/figure1.png' %}"/>
            </center>
    <br/><br/> 
<h4><p><strong>Overview of DIGGER workflow.</strong></h4>  
<h5>DIGGER integrates protein-protein interactions and domain-domain interactions into a joint graph and maps interacting residues to exons. DIGGER  allows the users to query exons or isoforms individually or as a set to visually explore their interactions. The three modes of DIGGER can be used interchangeably:</p></h5>
  
        <br>
        <center>

<img class="resize" src="{%static 'image/workflow.png'%}" >
</center>
                

 <br> <br> 
<h5><strong>You can download DIGGER documentation and help as pdf  here:</strong></h5>
  	<br>
   
   
    <center>     
         <a href="https://zenodo.org/record/3908465/files/DIGGER%20documentation%20and%20help%20%289%29.pdf?download=1" class="btn btn-secondary px-4 py-2 btn-sm">Download the documentation (pdf)</a>
 </center>     





     <br />
         
         
         <h3 class="font-weight-light"> <span style="font-weight:bold">Contact us</span>  </h3>
         <div> <h5 class>


	<p><b>Zakaria Louadi</b></br>
           louadi@wzw.tum.de</p>
     
      
	<p><b>Markus List</b></br>
           markus.list@wzw.tum.de</p>
     

        
	<p><b>Tim Kacprowski</b></br>
             tim.kacprowski@wzw.tum.de</p>
        
</h5 class>
  </div>
                    
         </div>
         
</div>





{% endblock content %}
