{% extends "domain/base.html" %}
{% load static %}

{%block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

   <br /> <br /> <br /> <br /> <br /> <br />
  <center>

<img src="{%static 'image/logo_s.png'%}"alt="" width="800" height="200" >
</center>

<title>  DIGGER | Download section </title>
<div class="container">
  <div class="card border-0 shadow my-5">
   

<p>&nbsp;</p>



 <br />
</p>



    
    
<h3><span style="background-color: black; color: #ffffff; padding: 0 3px;">DIGGER</span> Networks & databases </h3>
  <br> 
  
             

  <center>
<table>
  <tr>
    <th>File name</th>
    <th>Description</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Joint PPI and DDI network</td>
    <td>Joint network graph that integrates PPIs and DDIs and in which nodes represent protein domains defined by concatenating Entrez and Pfam id. The edges between the nodes represent DDIs which are defined if the domains are known to interact and if the respective proteins are also PPI partners (.GraphML).</td>
    <td><a href="https://zenodo.org/record/3886810/files/PPI-DDI.graphml?download=1"target="_blank">Download</a></td>
  </tr>
  <tr>
    <td>Mapping of protein domains to exons</td>
    <td>Database table maps transcripts and exons  to their isoforms and Pfam domains  </td>
    <td> <a href="https://zenodo.org/record/3886642/files/domain_mapped_to_exons.csv?download=1"target="_blank">Download</a></td>
  </tr>
  <tr>
    <td>Position-specific  residue annotations of the PPI </td>
    <td>PPI network of the human proteome based on experimentally resolved structures in the Protein Data Bank (PDB). This database contains the position of the individual amino acid positions (~1.5 GB). </td>
    <td><a href="https://zenodo.org/record/3886699/files/PPI_table_proteome_95_seq_id.tsv?download=1"target="_blank">Download</a></td>
  </tr>
  <tr>
    <td>Position-specific residue PPI mapped to exons</td>
    <td>This database contains exons that encode for residue for every structurally resolved interactions.</td>
    <td><a href="https://zenodo.org/record/3886686/files/residue_interface_mapped_to_exon.csv?download=1"target="_blank">Download</a></td>
  </tr>
  <!--

  <tr>
    <td>Structurally resolved PPI</td>
    <td>A filtered PPI network with only interactions with DDI evidence. In contrast, to "Joint PPI and DDI network", this network  contains only protein nodes.</td>
    <td><a href=""target="_blank">Download</a></td>
  </tr>
 
 
 -->
</table>


  </center>















        <br /> <br /> <br />
         
         
         <h3 class="font-weight-light"> <span style="font-weight:bold">Contact us</span>  </h3>
         <div> <h5 class>


	<p><b>Zakaria louadi</b></br>
           louadi@wzw.tum.de</p>
     

      
	<p><b>Markus List</b></br>
           markus.list@wzw.tum.de</p>
     

        
	<p><b>Tim Kacprowski</b></br>
             tim.kacprowski@wzw.tum.de</p>
        
</h5 class>
  </div>
                    
         </div>
         
</div>





{% endblock content %}