
{% extends "domain/base.html" %}
{% load static %}

{%block content %}

          <style type="text/css">


    .tab2 { margin-left: 10px; }
    .tab { margin-left: 30px; }
    .tab3 { margin-left: 100px; }

    
  </style>
  
  
<title>  DIGGER  Exon Level Analysis </title>

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light"> </h1>
      
      <h4 class="font-weight-light">&nbsp;</h4>





       <br /><br />
      <h3 class="font-weight-light"><span style="font-weight:bold">Submit An Exon or An Alternative Splicing Event</span></h3>
            <br />
      <h5 class="font-weight-light"> Input an  exonic region  to map it to its coresponding protein domains  and to visulaize the domain interactions.  This feature is useful to analyze the effect of an alternative splicing event in
      the protein Interactome.  </h5> 
      
           <br /><br />
                 <h5 class="font-weight-light"> <span style="font-weight:bold"> Option 1  </span>: Input an Exon ID  </h5> 
                 
          </form>
                   
                    <div role="tabpanel" class="tab-pane" id="Section3">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <!--end of col-->
                                    <div class="col">
                                        <input 
                                      class="form-control mr-sm-2"
                                      type="Ensembl ID"
                                      placeholder="Input an Ensembl Exon ID "
                                      aria-label="Search 2 "
                                      name='search 2'
                                      value="">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                                    </div>
                                    <!--end of col-->
                                    
                                </div>
                                <h6 class="tab"  style="margin-left:2.5em"> <span style="font-weight:bold"> Examples: ENSE00003756482 ; ENSE00002224211; ENSE00003467097 ; ENSE00001830743 ; ENSE00003652625;  ENSE00003668782 ; ENSE00003514915 ; ENSE00003557822 ; ENSE00003582424</span> </h6> 
                            </form>
     

 <br /><br /><br /> 
 
 
  


       <h5 class="font-weight-light"> <span style="font-weight:bold"> Option 2  </span>: Input genomic coordinates of an exon or an alterantive splicing event.</h5> 
  
      <h6 class="tab3">  Input format:&nbsp;&nbsp;&nbsp;&nbsp; Ensembl Gene ID &nbsp;&nbsp;&nbsp;&nbsp;	 Start &nbsp;&nbsp;&nbsp;&nbsp;	 End  </h6> 
      
        
          </form>
                   
                    <div role="tabpanel" class="tab-pane" id="Section4">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <!--end of col-->
                                    <div class="col">
                                        <input 
                                      class="form-control mr-sm-2"
                                      type="Ensembl ID"
                                      placeholder="Input The Coordinates of Exon or AS event from  human genome build hg38 (GRCh38)"
                                      aria-label="Search"
                                      name='search'
                                      value="">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                                    </div>
                                    <!--end of col-->
                                    
                                </div>
                                <h6 class="tab"  style="margin-left:2.5em"> <span style="font-weight:bold"> Example:   ENSG00000117036  157135471     157135708    </span> </h6> 
                            </form>
     
              
<br /><br />     <br /><br />   

 <h4 class="font-weight-light"><span style="font-weight:bold"> How does this mode work? </span></h4>
 
   
     <center>
       <img src="{%static 'image/isoform mode.svg'%}" />
   </center>  

     
 </div>
    </div>






 


{% endblock content %}
