{% extends "domain/base.html" %}
{% load static %}

{%block content %}

          <style type="text/css">


    .tab2 { margin-left: 10px; }
    .tab { margin-left: 30px; }
    
.button {
  background-color: #136BB6; /* Not Green  anymore*/
  border: none;
  color: white;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 22px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



.button2:hover {
  box-shadow: 0 12px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
img.resize {
  max-width:70%;
  max-height:70%;
}
  </style>
  
  
<title>  DIGGER | Home Page  </title>
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-3">
  

 <br /> 
<center>

<img class="resize" src="{%static 'image/DIGGER.png'%}">

</center>
 

 <br /> <br /> <br /><br /> 
<h5 style="text-align: justify;">  <span style="font-weight:bold"> Domain Interaction Graph Guided ExploreR (DIGGER)</span>  integrates protein-protein interactions and domain-domain interactions  into a joint graph and maps interacting residues to exons. DIGGER  allows the users to query exons or isoforms individually or as a set to visually explore their interactions. The  following modes of DIGGER can be used interchangeably: </h5>
 <br />


    
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{%static 'image/Isoform_mode.svg'%}" alt="">
          <div class="card-body">
          <center>
            <h4 class="card-title">Isoform-Level analysis</h4>
            </center>
            <p class="card-text" style="text-align: justify;" >Visualize  the interacting domains of proteins and compare the interactions of different isoforms.</p>
          </div>
          <div class="card-footer">
          <center>
            <a href="{% url 'isoform_level' %}" class="btn btn-secondary px-4 py-2 btn-sm">Explore an isoform interactions</a>
            </center>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{%static 'image/exon_page.svg'%}" alt="">
          <div class="card-body">
          <center>
            <h4 class="card-title">Exon-Level analysis </h4>
            </center>
            <p class="card-text" style="text-align: justify;">Input an exonic region to analyze the effect of alternative splicing
events on protein interactions.</p>
          </div>
          <div class="card-footer">
          <center>
            <a href="{% url 'Exon_level' %}" class="btn btn-secondary px-4 py-2 btn-sm">Query an exon</a>
            </center>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{%static 'image/net_page.svg'%}" alt="">
          <div class="card-body">
          <center>
            <h4 class="card-title">Network-Level analysis</h4>
            </center>
            <p class="card-text"style="text-align: justify;">Explore interactions between multiple isoforms and generate a specific
subnetwork from a list of protein variants or transcripts.</p>
          </div>
          <div class="card-footer">
          <center>
            <a href="{% url 'Network' %}" class="btn btn-secondary px-4 py-2 btn-sm">Build your subnetwork</a>
            </center>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
   </div>
       </div>
       
         </div>   </div>
    </div>   </div>
   </div>   </div>
      </div>   </div>
      
<link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#222222","text":"#ffffff","border":"#b5e1a0"},"button":{"background":"#b5e1a0","text":"#000000"}},"position":"bottom-right","content":{"message":"DIGGER uses cookies to ensure you get the best experience."}})});</script>


{% endblock content %}
