
{% extends "domain/base.html" %}
{% load static %}

{%block content %}

          <style type="text/css">


    .tab2 { margin-left: 10px; }
    .tab { margin-left: 30px; }
    

    
  </style>
  
  
<title>  DIGGER  | Isoform-Level Analysis </title>

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light"> </h1>
      
      <h4 class="font-weight-light">&nbsp;</h4>




<br /><br /> <br /> 
 <h4 class="font-weight-light"><span style="font-weight:bold">Submit a Protein Variant </span></h4>
  
      <h5 class> Input  a protein to visualize  protein and domain Interactions simultaneously. This mode is useful to visualize interacted region and to compare the structure and interactions of different isoforms. </h5> 
  <br /> 
 </form>
                   
                    <div role="tabpanel" class="tab-pane" id="Section3">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <!--end of col-->
                                    <div class="col">
                                        <input 
                                      class="form-control mr-sm-2"
                                      type="Ensembl ID"
                                      placeholder="Input an Ensembl ID ( Gene / Transcript / Protein )"
                                      aria-label="Search"
                                      name='search'
                                      value="">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                                    </div>
                                    <!--end of col-->
                                    
                                </div>
                                <h6  class> <span style="font-weight:bold"> Examples: ENSG00000058404 ; ENST00000066544 ; ENST00000623693 ;  ENSP00000358396 ; ENSP00000489057 ; ENST00000016946  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  ENST00000346342 ; ENST00000409330 ; ENST00000557508</span> </h6> 
                            </form>
                            
                            
                            
                            
      <br /><br />     <br /><br />   
 <h4 class="font-weight-light"><span style="font-weight:bold"> How does this mode work? </span></h4>
 
   
     <center>
       <img src="{%static 'image/isoform mode.svg'%}" />
   </center>  


     

    </div>


{% endblock content %}
