
{% extends "domain/base.html" %}
{% load static %}

{%block content %}

          <style type="text/css">


    .tab2 { margin-left: 10px; }
    .tab { margin-left: 30px; }
    

    
  </style>
  
  
<title>  DomainGraph  </title>

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light"> </h1>
      
      <h4 class="font-weight-light">&nbsp;</h4>




<br /><br /> <br /> 
 <h4 class="font-weight-light"><span style="font-weight:bold">Query interactions of proteins </span></h4>
  

  
      <h5 class> Enter a list of Ensembl IDs (Genes/Transcripts or Proteins) </h5> 
       <h5 class='tab'>  <a href="{% url 'Network_example3' %}" class="test">[Example 1: Specific interaction between two Isoforms]</a></h5>  
      <h5 class='tab'>  <a href="{% url 'Network_example2' %}" class="test">[Example 2: Interaction between multiple isoforms]</a></h5>  
   <h5 class='tab'>  <a href="{% url 'Network_example1' %}" class="test">[Example 3: Transcritpomics data from TCGA - PAN-Cancer (2000 most abundant transcripts]</a></h5> 
  </form>
                   


  <br>
<form method=”POST”>
  <textarea name="input" rows="30" cols="50" >
 </textarea>

  <br><br>
  <input type="submit">
</form>
    

         
       


 <br /><br /> <br />  <br />   <br />   <br /><br /> <br />  <br />  
 <h4 class="font-weight-light"><span style="font-weight:bold">About DomainGraph</span></h4>
       <br />
       
       <h5 style="text-align: justify" class='tab'>By mapping the domain-domain Interactions to the protein-protein interactions, <span style="font-weight:bold"> DomainGraph</span> can provide a visualization of the interacted regions between the proteins.
        In addition, the tool can analyse  the effect of the splicing variations in the Interactome, starting from a single alternative splicing  event to a set of  protein variants.  </h5> 
       

     




{% endblock content %}