biopython==1.77
biothings-client==0.3.1
certifi==2024.2.2
chardet==3.0.4
cycler==0.11.0
decorator==5.1.1
Django==2.2.28
django-pandas==0.6.1
dna-features-viewer==3.0
gseapy==1.1.2
gunicorn==20.0.4
idna==2.8
kaleido==0.2.1
kiwisolver==1.4.5
matplotlib==3.4.1
mygene==3.1.0
networkx==2.4
numpy==1.19.3
packaging==24.0
pandas==1.3.5
patsy==0.5.6
pickle5==0.0.12
Pillow==9.5.0
plotly==5.18.0
psycopg2==2.8.5
pyparsing==3.1.2
pytest-django==4.5.2
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.22.0
scipy==1.7.3
six==1.16.0
SQLAlchemy==1.3.16
sqlparse==0.4.4
statsmodels==0.13.5
tenacity==8.2.3
tqdm==4.46.1
typing_extensions==4.7.1
urllib3==1.25.11
