:root {
    --shadow-color: 216deg 19% 60%;
    --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    overflow-y: scroll;
}

.wrapper {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

/*td, th {*/
/*    border: 1px solid #dddddd;*/
/*    text-align: center;*/
/*    padding: 5px;*/
/*}*/

/* Custom table striped color */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    /*background-color: #dddddd;*/
}

/* Custom jumbotron color */
.jumbotron {
    background-color: #fff !important;
    box-shadow: var(--shadow-elevation-medium) !important;
    border-radius: 10px !important;
}

.rounded {
    border-radius: 10px !important;
}

.example_value:hover {
    color: #5e5d5d;
    cursor: pointer;
}


img.resize {
    max-width: 70%;
    max-height: 70%;
}

/* From slider.css*/
.carousel-item {
    height: 65vh;
    min-height: 3500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* From style.css */
#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#info {
    color: #c88;
    font-size: 1em;
    position: absolute;
    z-index: -1;
    left: 1em;
    top: 1em;
}

.shadow {
    box-shadow: var(--shadow-elevation-medium) !important;
}

.rotate {
    transform: rotate(90deg);
}

.pathway-tooltip {
    max-width: 200px;
    display: none;
    position: absolute;
    border-bottom: 1px black;
    color: white;
    background: black;
    text-align: center;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 3px;
    bottom: 100%;
    margin-bottom: 10px;
    transition: opacity 0.3s;
}

.pathway-tooltip::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 49%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.hover-trigger {
    cursor: pointer;
    position: relative;
}

.hover-trigger:hover .pathway-tooltip,
.pathway-tooltip:hover {
    display: block;
    opacity: 1;
    pointer-events: auto;
}