.wider-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wider-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wider-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wider-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wider-container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .wider-container {
        max-width: 1370px;
    }
}

@media (min-width: 1920px) {
    .wider-container {
        max-width: 1820px;
    }
}