html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    overflow-y: scroll;
}

.wrapper {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

/*td, th {*/
/*    border: 1px solid #dddddd;*/
/*    text-align: center;*/
/*    padding: 5px;*/
/*}*/

/* Custom table striped color */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    /*background-color: #dddddd;*/
}

/* Custom jumbotron color */
.jumbotron {
    background-color: #dddddd !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

img.resize {
    max-width: 70%;
    max-height: 70%;
}

/* From slider.css*/
.carousel-item {
    height: 65vh;
    min-height: 3500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* From style.css */
#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#info {
    color: #c88;
    font-size: 1em;
    position: absolute;
    z-index: -1;
    left: 1em;
    top: 1em;
}