{% extends "base.html" %}
{% load static %}

{% block title %}Exonic Region From The Gene {{ name|safe }}{% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/wider-container.css' %}">

  <style>
      .sticky-offset {
          top: 56px
      }

      .tab-content > .tab-pane:not(.active) {
          display: block;
          height: 0;
          overflow-y: hidden;
      }

      div {
          text-align: justify;
          text-justify: inter-word;
      }

      .select-css option {
          font-weight: normal;
      }

      #protein-network {
          position: relative;
          height: 840px;
          border: 2px solid lightgray;
      }

      #domain-network {
          position: relative;
          height: 840px;
          border: 2px solid lightgray;
      }

      #interaction-network {
          position: relative;
          height: 600px;
          border: 2px solid lightgray;
      }

      img {
          max-width: 100%;
          max-height: 100%;
          display: block; /* remove extra space below image */
      }

      img {
          max-width: 100%;
          max-height: 100%;
      }

      img.resize {
          max-width: 80%;
          max-height: 80%;
      }
  </style>

  <script>
      $(document).ready(function () {
          $('#Interaction_table').DataTable();
      });
  </script>
{% endblock %}







{% block raw_content %}
<div class="wider-container my-3">
  <div class="row">
    <!-- Vertical pill selection menu-->
    <div class="col-lg-3 mb-2">
      {#                <h3 class="my-4">View selection</h3>#}
      <div class="nav flex-column nav-pills sticky-top sticky-offset" id="v-pills-tab" role="tablist"
           aria-orientation="vertical">

        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-domain"
           role="tab"
           aria-controls="v-pills-domain" aria-selected="true">DomainView</a>

        {% if dis %}
          <a class="nav-link" id="v-pills-protein-tab" data-toggle="pill" href="#v-pills-protein"
             role="tab"
             aria-controls="v-pills-protein" aria-selected="false">ProteinView</a>
        {% endif %}

        {% if dis or dis3 %}
          {% if not dis4 %}
            <a class="nav-link" id="v-pills-interaction-tab" data-toggle="pill"
               href="#v-pills-interaction"
               role="tab"
               aria-controls="v-pills-compare" aria-selected="false">InteractionView</a>
          {% endif %}
        {% endif %}

        <a class="nav-link" id="v-pills-compare-tab" data-toggle="pill" href="#v-pills-compare"
           role="tab"
           aria-controls="v-pills-interaction" aria-selected="false">Proteins that use this exon</a>
      </div>
    </div>
    <!-- /Vertical pill selection menu -->

    <!-- Page content -->
    <div class="col-lg-9">
      <!-- Jumbotron overview-->
      <div class="jumbotron p-xl-4">
        <h1 class="display-4"> Exon Information {{ name }}</h1>
        <br>
        <h5 class="lead"><span style="font-weight:bold"> Exon ID</span>: {{ exon_ID|safe }}  </h5>
        <h5 class="lead"><span style="font-weight:bold"> Gene name </span>: {{ name|safe }} </h5>

        <h5 class="lead"><span style="font-weight:bold">NCBI gene ID </span>: <a
                href="https://www.ncbi.nlm.nih.gov/gene/{{ entrezID|safe }}"
                target="_blank">{{ entrezID|safe }} </a></h5>
        <h5 class="lead"><span style="font-weight:bold">Ensembl gene ID</span> : <a
                href="https://www.ensembl.org/id/{{ gID|safe }}" target="_blank"> {{ gID|safe }} </a></h5>
      </div>

      <!-- Tab content -->
      <div class="tab-content" id="v-pills-tabContent">
        <!-- DomainView content -->
        <div class="tab-pane fade card show active" id="v-pills-domain" role="tabpanel"
             aria-labelledby="v-pills-domain-tab">

          <h2 class="card-header">DomainView</h2>

          <div class="card-body">
            {% if not dis2 %}

            <h5 class>A list of Pfam domains coded by the selected exon and a graphical
              visualization
              for
              their interactions is provided in this view. Each domain is shown only once, and all
              proteins containing the domain are linked to this domain node. Select your domain of
              interest to visualize affected interactions. </h5>


            <div style="text-align: center;" class="mt-4">
              <p class="lead"><span
                      style="font-weight:bold">The exon Codes for the following Pfam domains </span>
              </p>

              <h5 class>
                <div class="table-responsive">
                  {% autoescape off %}
                  {{ tb2 }}
                  {% endautoescape %}
                </div>
              </h5>
            </div>

            {% if dis %}
              <hr style="height: 2px;" class="mt-4">
              <!-- View options -->
              <h5>
                <div class="form-group row">
                  <label for="nodeFilterSelect2" class="col-sm-2 col-form-label">Pfam domain
                    ID</label>
                  <div class="col-sm-10">
                    <select id="nodeFilterSelect2" class="form-control">
                      <optgroup label="Domains of the exon">
                        {% for s in switch1 %}
                          {{ s|safe }}
                        {% endfor %}
                      </optgroup>
                      {% if dis1 %}
                        <optgroup label="Domains missing in the isoform">
                          {% for s in switch1_missing %}
                            {{ s|safe }}
                          {% endfor %}
                        </optgroup>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-2">Physics</div>
                  <div class="col-sm-10">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input"
                             id="physicsSwitchDomain"
                             name="physics-checkbox-domain" checked>
                      <label class="custom-control-label" for="physicsSwitchDomain">Enable
                        physics</label>
                    </div>
                  </div>
                </div>
              </h5>

              <div id="domain-network"></div>
              <script type="text/javascript">
                  var L1 = 300,
                      L2 = 30,
                      PR_DM = 400,
                      LENGTH_SUB = 50,
                      WIDTH_SCALE = 2,
                      GREEN = "green",
                      RED = "#C5000B",
                      //ORANGE = "orange",
                      YELLOW = "orange",
                      WHITE = "EED5EB"
                  //GRAY = '#666666',
                  GRAY = "gray",
                      BLACK = "#2B1B17";


                  // create an array with nodes
                  var nodes2 = new vis.DataSet([

                      {% for node in Domainview_nodes %}
                          {{  node|safe }}
                      {% endfor %}

                  ]);
                  // create an array with edges
                  var edges2 = new vis.DataSet([

                      {% for edge in Domainview_edges %}
                          {{ edge|safe }}
                      {% endfor %}
                  ]);


                  const nodeFilterSelector2 = document.getElementById("nodeFilterSelect2");


                  // create a network
                  var container2 = document.getElementById('domain-network');
                  var data2 = {
                      nodes2: nodes2,
                      edges2: edges2
                  };


                  var options2 = {


                      interaction: {
                          navigationButtons: true,

                      },

                      physics: {
                          barnesHut: {gravitationalConstant: -10000},
                          stabilization: {iterations: 15},

                      },

                      nodes: {
                          scaling: {
                              min: 16,
                              max: 32
                          }
                      },
                      edges: {
                          color: WHITE,
                          smooth: false,

                      },


                      groups: {
                          protein: {
                              shape: "dot",
                              color: GRAY, // orange
                              font:
                                  {
                                      size: 18, // px
                                  }
                          },


                          Domain: {
                              shape: "triangle",
                              color: "#2B7CE9" // blue
                          },


                          MDomain: {
                              shape: "triangle",
                              color: "#109618" // green
                          }
                      }
                  };


                  var checkbox2 = document.querySelector("input[name=physics-checkbox-domain]");


                  function startNetwork(data2) {

                      var network2 = new vis.Network(container2, data2, options2);

                      checkbox2.addEventListener('change', function () {
                          if (this.checked) {
                              network2.setOptions({physics: true});
                          } else {
                              network2.setOptions({physics: false});

                          }
                      });


                      nodeFilterSelector2.addEventListener("change", e => {

                          network2.setOptions({physics: true});
                          if (checkbox2.checked === false) {

                              setTimeout(function () {
                                  network2.setOptions({physics: false});
                              }, 10000);
                          }
                      });
                  };


                  let nodeFilterValue2 = "";


                  const nodesFilter2 = node => {
                      if (nodeFilterValue2 === "") {
                          return node.source === "{{ first_domain|safe}}";
                      }
                      switch (nodeFilterValue2) {

                          {% for s in switch2 %}
                              {{ s|safe }}
                          {% endfor %}

                          default:
                              return true;
                      }
                  };


                  const nodesView2 = new vis.DataView(nodes2, {filter: nodesFilter2});


                  nodeFilterSelector2.addEventListener("change", e => {
                      // set new value to filter variable
                      nodeFilterValue2 = e.target.value;
                      /*
                            refresh DataView,
                            so that its filter function is re-calculated with the new variable
                          */
                      nodesView2.refresh();


                  });


                  startNetwork({nodes: nodesView2, edges: edges2});


              </script>

            {% else %}
              <h5 class="mt-4"> The domains coded by selected exon do not have any known
                interactions from the available database. </h5>
            {% endif %}

            {% else %}
            <h5 class="mt-4"> The selected exon does not code for any known Pfam domain </h5>
            {% endif %}
          </div>
        </div>


        <!-- ProteinView content -->
        <div class="tab-pane fade card" id="v-pills-protein" role="tabpanel"
             aria-labelledby="v-pills-protein-tab">
          <h2 class="card-header"> ProteinView </h2>
          <div class="card-body">

            {% if dis %}
              {% if enable_Proteinview %}

                <h5 class="tab1"> ProteinView is not available for this protein because of its high
                  number of partners in the PPI. Please check the InteractionView or
                  DomainView.</h5>

              {% else %}

                <h5 class> ProteinView provides a general visualization of the protein interactions
                  and its domains interactions. Proteins (circular nodes) are shown together with
                  their (triangles) and domains-domains interactions. The interactions of the
                  <span style="font-weight:bold"> spliced domains </span> are shown in
                  <span style="font-weight:bold">dashed edges</span> to illustrate the effect of
                  splicing in these interactions. </h5>
                <br>
                <hr>
                <h5>
                  <div class="form-group row">
                    <div class="col-sm-2">Physics</div>
                    <div class="col-sm-10">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"
                               id="physicsSwitchProtein"
                               name="physics-checkbox-protein" checked>
                        <label class="custom-control-label" for="physicsSwitchProtein">Enable
                          physics</label>
                      </div>
                    </div>
                  </div>
                </h5>

                <center>

                  <div id="protein-network"></div>

                  <script type="text/javascript">

                      var PR_LENGTH = 500,
                          LENGTH_domain = 20,
                          PR_DM = 400,
                          LENGTH_SUB = 50,
                          WIDTH_SCALE = 2,
                          GREEN = "green",
                          RED = "#C5000B",
                          //ORANGE = "orange",
                          YELLOW = "orange",
                          WHITE = "EED5EB"
                      //GRAY = '#666666',
                      GRAY = "gray",
                          BLACK = "#2B1B17";
                      missing = '#C70039';
                      Residue = '#85929E ';
                      // create an array with nodes
                      var nodes = new vis.DataSet([

                          {% for node in pv_nodes %}
                              {{ node|safe }}
                          {% endfor %}



                      ]);
                      // create an array with edges
                      var edges = new vis.DataSet([

                          {% for edge in pv_edges %}
                              {{ edge|safe }}
                          {% endfor %}

                      ]);


                      // create a network
                      var container = document.getElementById('protein-network');
                      var data = {
                          nodes: nodes,
                          edges: edges
                      };


                      var options = {


                          interaction: {
                              navigationButtons: true,

                          },
                          physics: {
                              enabled: true,
                              barnesHut: {gravitationalConstant: -10000},
                              stabilization: {iterations: 20},
                          },


                          nodes: {
                              scaling: {
                                  min: 16,
                                  max: 32
                              }
                          },
                          edges: {
                              color: WHITE,
                              smooth: false,

                          },


                          groups: {
                              protein: {
                                  shape: "dot",
                                  color: GRAY, // orange
                                  font:
                                      {
                                          size: 18, // px
                                      }
                              },


                              domain: {
                                  shape: "triangle",
                                  color: "#2B7CE9" // blue
                              },


                              transcript: {
                                  shape: "square",
                                  color: "#109618" // green
                              }
                          }
                      };


                      let nodeFilterValue = "";

                      const nodeFilterSelector = document.getElementById("nodeFilterSelect");


                      var checkbox = document.querySelector("input[name=physics-checkbox-protein]");

                      function startNetwork(data) {

                          var network = new vis.Network(container, data, options);


                          checkbox.addEventListener('change', function () {
                              if (this.checked) {
                                  network.setOptions({physics: true});
                              } else {
                                  network.setOptions({physics: false});

                              }
                          });


                      }

                      const nodesFilter = node => {
                          if (nodeFilterValue === "") {
                              return node.source === "DDI";
                          }

                      };


                      const nodesView = new vis.DataView(nodes, {filter: nodesFilter});


                      startNetwork({nodes: nodesView, edges: edges});


                  </script>

                  <img class="resize" src="{% static 'image/legend2.png' %}" alt="">
                </center>

                <br/>

              {% endif %}

            {% endif %}
          </div>
        </div>


        <!-- InteractionView content -->
        <div class="tab-pane fade card" id="v-pills-interaction" role="tabpanel"
             aria-labelledby="v-pills-interaction-tab">
          <h2 class="card-header"> InteractionView </h2>
          <div class="card-body">

            {% if dis %}
            <h5 style="text-align: left;"> InteractionView provides interactive visualization and an
              analysis of the effect of the spliced region for every interaction individually. The
              interactions of the <span style="font-weight:bold"> spliced domains </span> are
              shown in
              <span style="font-weight:bold">dashed edges</span> to illustrate the effect of
              splicing
              in
              these interactions. </h5>
            <br>
            <hr>
            <!-- View options -->
            <h5>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Interaction</label>
                <div class="col-sm-10">
                  <select id="nodeFilterSelect3" class="form-control">
                    {% for s in Interactiveview_selec %}
                      {{ s|safe }}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">Physics</div>
                <div class="col-sm-10">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"
                           id="physicsSwitchInteraction"
                           name="physics-checkbox-interaction" checked>
                    <label class="custom-control-label" for="physicsSwitchInteraction">Enable
                      physics</label>
                  </div>
                </div>
              </div>
            </h5>


            <div id="interaction-network"></div>
            <script type="text/javascript">

                var PR_LENGTH = 500,
                    LENGTH_domain = 20,
                    PR_DM = 400,
                    LENGTH_SUB = 50,
                    WIDTH_SCALE = 2,
                    GREEN = "green",
                    RED = "#C5000B",
                    //ORANGE = "orange",
                    YELLOW = "orange",
                    WHITE = "EED5EB"
                //GRAY = '#666666',
                GRAY = "gray",
                    BLACK = "#2B1B17";
                missing = '#C70039';
                Residue = '#85929E';


                var nodes3 = new vis.DataSet([

                    {% for node in pv_nodes %}
                        {{ node|safe }}
                    {% endfor %}



                ]);
                // create an array with edges
                var edges3 = new vis.DataSet([

                    {% for edge in pv_edges %}
                        {{ edge|safe }}
                    {% endfor %}

                ]);


                const nodeFilterSelector3 = document.getElementById("nodeFilterSelect3");


                // create a network
                var container3 = document.getElementById('interaction-network');
                var data3 = {
                    nodes3: nodes3,
                    edges3: edges3
                };


                var options3 = {


                    interaction: {
                        navigationButtons: true,

                    },
                    physics: {
                        enabled: true,
                        barnesHut: {gravitationalConstant: -10000},
                        stabilization: {iterations: 20},
                    },


                    nodes: {
                        scaling: {
                            min: 16,
                            max: 32
                        }
                    },
                    edges: {
                        color: WHITE,
                        smooth: false,

                    },


                    groups: {
                        protein: {
                            shape: "dot",
                            color: GRAY, // orange
                            font:
                                {
                                    size: 18, // px
                                }
                        },


                        domain: {
                            shape: "triangle",
                            color: "#2B7CE9" // blue
                        },


                        transcript: {
                            shape: "square",
                            color: "#109618" // green
                        }
                    }
                };


                let nodeFilterValue3 = "";


                const nodesFilter3 = node => {
                    if (nodeFilterValue3 === "") {
                        return (node.id === "{{ entrezID|safe }}") || (node.id === "{{ first_vict|safe }}") || (node.origin === "{{ first_vict|safe }}") || (node.origin === "{{ entrezID|safe }}");
                    }
                    switch (nodeFilterValue3) {

                        {% for s in Interactiveview_switch %}
                            {{ s|safe }}
                        {% endfor %}



                        default:
                            return true;
                    }
                };


                const nodesView3 = new vis.DataView(nodes3, {filter: nodesFilter3});


                nodeFilterSelector3.addEventListener("change", e => {
                    // set new value to filter variable
                    nodeFilterValue3 = e.target.value;
                    /*
                          refresh DataView,
                          so that its filter function is re-calculated with the new variable
                        */
                    nodesView3.refresh();


                });

                var checkbox3 = document.querySelector("input[name=physics-checkbox-interaction]");

                function startNetwork(data3) {

                    var network3 = new vis.Network(container3, data3, options3);

                    network3.fit()

                    checkbox3.addEventListener('change', function () {
                        if (this.checked) {
                            network3.setOptions({physics: true});
                        } else {
                            network3.setOptions({physics: false});
                            network3.fit()
                        }
                    });


                    nodeFilterSelector3.addEventListener("change", e => {

                        network3.setOptions({physics: true});
                        if (checkbox3.checked === false) {

                            setTimeout(function () {
                                network3.setOptions({physics: false});
                            }, 2500);
                            network3.fit()

                        }

                    });
                }


                startNetwork({nodes: nodesView3, edges: edges3});


            </script>

            <div style="text-align: center;">
              <center>
                <img class="resize" src="{% static 'image/legend2.png' %}" alt="">
              </center>
            </div>


            <br/>

            <div style="text-align: center;" class="my-5">
              <h3> Protein-Protein Interactions </h3>
              <h6>
                {% autoescape off %}
                {{ tb3 }}
                {% endautoescape %}
              </h6>
              <h6 class="mt-5" style="text-align: left">
                *Residue-level evidence is checked &#9989; if there is structurally resolved
                evidence at the residue level of the interaction. In that case, the selected
                exon contains residues that lie on that PPI interface.
              </h6>

              <a href="{% get_media_prefix %}table/{{ exon_ID|safe }}.csv"
                 class="btn btn-secondary px-4 py-2 btn-sm my-3">Download csv</a>
            </div>
            {% endif %}

            {% if  dis3 %}

            {% if  dis3 and not dis %}
              <h5 class> The selected exon does not code for any known Pfam domain, but
                residue-level
                annotation of the exon exist. </h5>



            {% endif %}

            <br>
            <h3 class="font-weight-light" style="text-align: center"> The annotation of the exon in
              the structural context</h3>


            <h6 style="text-align: left;" class="mt-2"> The exon contains residues that lie on the
              PPI interface
              of the following protein-protein interactions.</h6>

            <br>
            <center>
              <h6 class=="lead"> Overview of Protein-Protein Interactions Table </h6>
              <h6 class>
                <div class="table-responsive">
                  {% autoescape off %}
                  {{ tb4 }}
                  {% endautoescape %}
                </div>
              </h6>

              {% if  long_table %}
                <h6 class="font-weight-light">This an overview of the table. You can download
                  the
                  full
                  table with the specific interacting variants from this link.</h6>
              {% endif %}
              <a href="{% get_media_prefix %}table/{{ exon_ID|safe }}_interface.csv"
                 class="btn btn-secondary px-4 py-2 btn-sm">Download csv</a>
            </center>
            <br><br> <br><br>

            {% endif %}


          </div>
        </div>


        <!-- Compare with other isoforms content -->
        <div class="tab-pane fade card" id="v-pills-compare" role="tabpanel"
             aria-labelledby="v-pills-compare-tab">
          <h2 class="card-header">Proteins that use this exon</h2>
          <div class="card-body">
            <h5>You can select a protein from the following table. </h5>
            <br><br>
            <p class="lead text-center"><span style="font-weight:bold">The selected exon region is translated  in the following proteins </span>
            </p>
            <h6 class>
              <div class="table-responsive">
                {% autoescape off %}
                {{ tb1 }}
                {% endautoescape %}
              </div>
            </h6>
          </div>
        </div>
      </div>
      <!-- /.col-lg-9 -->


    </div>
  </div>
</div>

{% endblock %}
