{% extends "base.html" %}
{% load static %}

{% block title %}Gene {{ name }}{% endblock %}

{% block content %}
    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 95%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 5px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


    <div class="card border-0 shadow my-5">
        <div class="card-body p-3">


            <h3 class="font-weight-light card-title"> List of the gene <span style="font-weight:bold">{{ name|safe }}</span>
                transcripts
                with known Pfam domains. </h3>
            <h6 class="mt-4">
                {% autoescape off %}
                    {{ tb }}
                {% endautoescape %}
            </h6>
        </div>
    </div>
{% endblock content %}
