{% extends "base.html" %}
{% load static %}

{% block title %}Gene {{ name }}{% endblock %}

{% block content %}
    <div class="card border-0 shadow my-5">
        <div class="card-body p-3">
            <h3 class="font-weight-light card-title"> List of the gene <span style="font-weight:bold">{{ name|safe }}</span>
                transcripts with known Pfam domains. </h3>
            <div class="table-responsive">
                <h6 class="mt-4">
                    {% autoescape off %}
                        {{ tb }}
                    {% endautoescape %}
                </h6>
            </div>
        </div>
    </div>
{% endblock content %}
