{% extends "base.html" %}
{% load static %}

{% block title %}Generated Subnetwork{% endblock %}

{% block header %}
    <style type="text/css">
        #interaction-network {
            position: relative;
            max-width: 100%;
            height: 900px;
            border: 1px solid lightgray;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}

{% block content %}

    <h1 class="display-4 center" style="text-align: center;">Generated Subnetwork</h1>

    <!-- Statistics of input data-->
    <div class="card my-5">
        <h2 class="card-header"> Statistics of the input data</h2>
        <div class="card-body">
            <h5 class="lead"><span style="font-weight:bold"> Number of protein variants:</span> {{ isoforms_num }}</h5>
            <h5 class="lead"><span style="font-weight:bold"> Number of coding genes:</span> {{ genes_number }}</h5>
            <h5 class="lead"><span
                    style="font-weight:bold"> Number of interacting proteins:</span> {{ interacted_nodes }}</h5>
        </div>
    </div>

    <!-- Visualization of the Subnetwork-->
    <div class="card my-5">
        <h2 class="card-header">Visualization of the subnetwork</h2>
        <div class="card-body">
            <div style="text-align: center;">
                <!-- Interaction Network-->
                <div id="interaction-network"></div>
                <!-- Legend and physics switch -->
                <div class="row mt-2 p-2">
                    <div class="col-sm-2">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="physicsSwitch"
                                   name="physics-checkbox" checked>
                            <label class="custom-control-label" for="physicsSwitch"><h5>Enable physics</h5></label>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <img src="{% static 'image/legend 4.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>

            <!-- Download data -->
            <div style="text-align: center;" class="mt-5">
                <h4 class="font-weight-light">Download the generated subnetwork with scored edges</h4>
                <a href="{% get_media_prefix %}jobs/networks/{{ ID|safe }}.sif"
                   class="btn btn-secondary px-4 py-2 btn-sm">Download (SIF format)</a>
                <a href="{% get_media_prefix %}jobs/networks/{{ ID|safe }}.graphml"
                   class="btn btn-secondary px-4 py-2 btn-sm">Download (GraphMl format)</a>
            </div>
        </div>
    </div>

    <!-- Interactions Table -->
    <div class="card my-5">
        <h2 class="card-header">Interactions Table</h2>
        <div class="card-body">
            <h6 class="font-weight-light">This an overview of the table and does not necessarily show all interactions
                of the
                generated sub network. You can download the full table from link below.</h6>
            <h6 class="my-3">
                {% autoescape off %}
                    {{ tab }}
                {% endautoescape %}
            </h6>

            <h6 class="font-weight-light">* The score represents the confidence of the PPI. A score of 0 means that all
                known structurally resolved interfaces between the two proteins are missing in your list of
                isoforms. </h6>

            <!-- Download data -->
            <div style="text-align: center;" class="mt-5">
                <h4 class="font-weight-light">Download the full table of interactions with interacted
                    domains</h4>
                <a href="{% get_media_prefix %}jobs/tables/{{ ID|safe }}.csv"
                   class="btn btn-secondary px-4 py-2 btn-sm">Download Table (CSV format)</a>
            </div>

        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        var CHOOSEN = 'blue',
            CHOOSEN3 = 'orange'
        CHOOSEN2 = 'red';


        var nodes = new vis.DataSet([
            {% for node in pv_nodes %}
                {{ node|safe }}
            {% endfor %}

        ]);

        // create an array with edges
        var edges = new vis.DataSet([
            {% for edge in pv_edges %}
                {{ edge|safe }}
            {% endfor %}

        ]);

        // create a network
        var container = document.getElementById("interaction-network");
        var data = {
            nodes: nodes,
            edges: edges
        };


        var options = {
            nodes: {
                shape: 'dot',
                scaling: {
                    min: 16,
                    max: 32
                },
                font: 24
            },
            physics: {
                forceAtlas2Based: {
                    gravitationalConstant: -26,
                    centralGravity: 0.005,
                    springLength: 230,
                    springConstant: 0.18
                },
                maxVelocity: 20,
                solver: 'forceAtlas2Based',
                timestep: 0.5,
                stabilization: {iterations: 1}
            },


            interaction: {
                navigationButtons: true,

            }

        };


        var network = new vis.Network(container, data, options);

        var checkbox = document.querySelector("input[name=physics-checkbox]");


        checkbox.addEventListener('change', function () {
            if (this.checked) {
                network.setOptions({physics: true});
            } else {
                network.setOptions({physics: false});

            }
        });


        network.on("selectNode", function (params) {
            if (params.nodes.length === 1) {
                var node = nodes.get(params.nodes[0]);
                window.open(node.url, '_blank');
            }
        });


        network.fit();
    </script>
{% endblock %}
