{% extends "base.html" %}
{% load static %}

{% block title %}Network-Level Analysis{% endblock %}

{% block header %}
    <style type="text/css">
        .tab {
            margin-left: 30px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="jumbotron p-xl-5">
        <h1 class="display-4">Network-Level Analysis</h1>
        <h4 class="font-weight-light">Query interactions of  multiple isoforms
            and generate a specific subnetwork from a list of protein variants or transcripts.</h4>
    </div>

    <!-- Option 1: List of Ensembl IDs -->
    <div class="card">
        <h5 class="card-header"><span style="font-weight:bold">Option 1</span>: Enter a list of Ensembl IDs
            (genes/rranscripts or proteins) </h5>
        <div class="card-body">
            <form action="{% url 'network-analysis' %}" method="post">
                {% csrf_token %}

                <textarea name="input" rows="20" cols="20" class="form-control">
                  {% block example_ids %}
                  {% endblock example_ids %}
                </textarea>

                <br><br>
                <button class="btn btn-outline-success my-2 my-sm-0" name="option1" type="submit" style="float: right;">
                    Submit
                </button>
            </form>

            <h5 class='tab'><a href="{% url 'network-analysis-example-1' %}" class="test">[Example 1: Specific
                interaction between two Isoforms]</a></h5>
            <h5 class='tab'><a href="{% url 'network-analysis-example-2' %}" class="test">[Example 2: Interaction
                between multiple isoforms]</a></h5>
            <h5 class='tab'><a href="{% url 'network-analysis-example-3' %}" class="test">[Example 3: Transcriptomics
                data from TCGA - PAN-Cancer (2000 most abundant transcripts)]</a></h5>
        </div>
    </div>

    <!-- Option2: Upload a file-->
    <div class="card mt-4">
        <h5 class="card-header"><span style="font-weight:bold">Option 2</span>: Upload a file containing transcripts/ genes counts.
        </h5>
        <div class="card-body">
            <form action="{% url 'network-analysis' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="custom-file form-group">
                    <input type="file" class="custom-file-input form-control" name="gene-count-file">
                    <label class="custom-file-label" for="customFile">Upload transcripts/genes count file</label>
                </div>
                <br>
                <br>
                <button class="btn btn-outline-success my-2 my-sm-0" name="option2" type="submit" style="float: right;">
                    Submit
                </button>
            </form>

             <br><br>
                        <h6 class='tab'>
                        This option supports the output of tools such as Cufflinks and Kallisto
                            (Examples:
                            <a href="https://zenodo.org/record/3973228/files/brain.fpkm_tracking?download=1" target="_blank" > 1 </a> or
                             <a href="https://zenodo.org/record/3973267/files/abundance.tsv?download=1" target="_blank" > 2 </a>)
                        </h6>

                        <h6 class='tab'>
                       The first column of your file should correspond to transcript ids and optionally a column named 'TPM' or 'counts' or 'FPKM'.
                        </h6>

        </div>
    </div>

    <script>
        // Update the file upload label
        $('.custom-file input').change(function (e) {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));
        })
    </script>

{% endblock content %}
