{% extends "base.html" %}
{% load static %}

{% block content %}

    <style type="text/css">


        .tab2 {
            margin-left: 10px;
        }

        .tab {
            margin-left: 30px;
        }


    </style>



    <title> DIGGER | Network-Level Analysis </title>

    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light"></h1>

            <h4 class="font-weight-light">&nbsp;</h4>


            <h1 class="font-weight-light"><span style="font-weight:bold">Network-Level Analysis</span></h1>


            <br/><br/> <br/>
            <h4 class="font-weight-light"><span style="font-weight:bold">Query interactions of proteins </span></h4>


            <h5 class> Enter a list of Ensembl IDs (Genes/Transcripts or Proteins) </h5>
            <h5 class='tab'><a href="{% url 'network-analysis-example-1' %}" class="test">[Example 1: Specific
                interaction
                between two Isoforms]</a></h5>
            <h5 class='tab'><a href="{% url 'network-analysis-example-2' %}" class="test">[Example 2: Interaction
                between
                multiple isoforms]</a></h5>
            <h5 class='tab'><a href="{% url 'network-analysis-example-3' %}" class="test">[Example 3: Transcriptomics
                data from
                TCGA - PAN-Cancer (2000 most abundant transcripts]</a></h5>
            </form>


            <br>
            <form action="{% url 'network-analysis' %}" method="post">
                {% csrf_token %}

                <textarea name="input" rows="20" cols="20" class="form-control">
                  {% block example_ids %}
                  {% endblock example_ids %}
                </textarea>

                <br><br>
                <input type="submit">
            </form>


            <!--
                            
      <br /><br />     <br /><br />   
 <h4 class="font-weight-light"><span style="font-weight:bold"> How does this mode work? </span></h4>
 
   
     <center>
       <img src="{%static 'image/net_mode.svg'%}" />
   </center>  

-->
        </div>
    </div>

{% endblock content %}
