{% load static %}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#TODO remove / fix / merge viewport#}
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">

    <!-- Bootstrap CSS & JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <!-- JS -->
    {#TODO remove and move into files#}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <!-- Title -->
    <title>{% block title %}{% endblock %} | DIGGER</title>

    {% block header %}
    {% endblock %}
</head>


<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home' %}">DIGGER </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if "download" in request.path %}active{% endif %}"
                       href="{% url 'download-page' %}">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "documentation" in request.path %}active{% endif %}"
                       href="{% url 'doc-page' %}">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "about" in request.path %}active{% endif %}"
                       href="{% url 'about-page' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="wrapper">
    <div class="container my-5">
            {% block content %}{% endblock %}
    </div>
</div>

{#<div style="height: 15px"></div>#}

<!-- Footer -->
<footer class="py-4 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">DIGGER 2020 &copy;
            <u><a href="https://biomedical-big-data.de" target="_blank" rel="noopener noreferrer"
                  style="color:inherit;">
                Big Data in Biomedicine</a></u> and
            <u><a href="https://compsysmed.de" target="_blank" rel="noopener noreferrer" style="color:inherit;">
                Computational Systems Medicine
            </a></u>
        </p>
    </div>
</footer>
</body>
</html> 
