{% extends "base_information.html" %}
{% load static %}

{% block title %}Download{% endblock %}

{% block section-title %}Used Networks & Databases{% endblock %}

{% block section-content %}
    <div class="card border-0 ">
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>File name</th>
                    <th>Description</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tr>
                    <td>Joint PPI and DDI network</td>
                    <td>Joint network graph that integrates PPIs and DDIs and in which nodes represent protein
                        domains defined by concatenating Entrez and Pfam ID. The edges between the nodes
                        represent DDIs which are defined if the domains are known to interact and if the
                        respective proteins are also PPI partners (.GraphML).
                    </td>
                    <td><a href="https://zenodo.org/record/3886810/files/PPI-DDI.graphml?download=1"
                           target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td>Mapping of protein domains to exons</td>
                    <td> Database table that maps transcripts and exons to their isoforms and Pfam domains.
                    </td>
                    <td><a href="https://zenodo.org/record/3886642/files/domain_mapped_to_exons.csv?download=1"
                           target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td>Position-specific residue annotations of the PPI</td>
                    <td>PPI network of the human proteome based on experimentally resolved structures in the
                        Protein Data Bank (PDB). This database contains the position of the individual
                        amino acid residues (~1.5 GB).
                    </td>
                    <td>
                        <a href="https://zenodo.org/record/3886699/files/PPI_table_proteome_95_seq_id.tsv?download=1"
                           target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td>Position-specific residue PPI mapped to exons</td>
                    <td>This table contains exons harbouring residues at interfaces of structurally resolved
                        interactions.
                    </td>
                    <td>
                        <a href="https://zenodo.org/record/3886686/files/residue_interface_mapped_to_exon.csv?download=1"
                           target="_blank">Download</a></td>
                </tr>

            </table>
        </div>
    </div>


    <!-- Contact us -->
    <div class="card border-0 ">
        <div class="card-body">
            <h3>Contact us</h3>
            <h5>
                <p><b>Zakaria Louadi</b></br>
                    louadi@wzw.tum.de</p>
                <p><b>Markus List</b></br>
                    markus.list@wzw.tum.de</p>
                <p><b>Tim Kacprowski</b></br>
                    tim.kacprowski@wzw.tum.de</p>
            </h5>
        </div>
    </div>
{% endblock %}