{% extends "base.html" %}
{% load static %}

{% block title %}Gene {{ name }}{% endblock %}

{% block content %}
<div class="card border-0 shadow my-5">
  <div class="card-body p-3">
    <h3 class="font-weight-light card-title"> List of the gene <span style="font-weight:bold">{{ name|safe }}</span>
      transcripts with known Pfam domains. </h3>
    <div class="table-responsive">
      <h6 class="mt-4">
        {% autoescape off %}
        {{ tb }}
        {% endautoescape %}
      </h6>
    </div>
  </div>
</div>


<script>
    // show the wait alert if the user clicks on the link with the class "visualize"
    $(document).ready(function() {
        $(".visualize").click(function() {
            // sleep for 800ms before showing the alert
            setTimeout(function() {
                $("#wait_alert").show();
            }, 800);
        });
    });
</script>

{% endblock content %}
